[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/ERC721A"]
	path = lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "lib/ERC6551"]
	path = lib/ERC6551
	url = https://github.com/erc6551/reference
[submodule "lib/tokenbound"]
	path = lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "lib/creator-token-contracts"]
	path = lib/creator-token-contracts
	url = https://github.com/limitbreakinc/creator-token-contracts
[submodule "lib/ERC721H"]
	path = lib/ERC721H
	url = https://github.com/defientco/ERC721H
